@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88423311');
  src: url('../font/fontello.eot?88423311#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?88423311') format('woff'),
       url('../font/fontello.ttf?88423311') format('truetype'),
       url('../font/fontello.svg?88423311#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88423311#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-video:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e807'; } /* '' */
.icon-camera:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-ok-circle:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-cancel-circle:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-plus-circle:before { content: '\e80e'; } /* '' */
.icon-minus:before { content: '\e80f'; } /* '' */
.icon-minus-circle:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-info:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-link:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-lock:before { content: '\e816'; } /* '' */
.icon-lock-empty:before { content: '\e817'; } /* '' */
.icon-lock-open:before { content: '\e818'; } /* '' */
.icon-lock-open-empty:before { content: '\e819'; } /* '' */
.icon-pin:before { content: '\e81a'; } /* '' */
.icon-eye:before { content: '\e81b'; } /* '' */
.icon-tag:before { content: '\e81c'; } /* '' */
.icon-tag-empty:before { content: '\e81d'; } /* '' */
.icon-download:before { content: '\e81e'; } /* '' */
.icon-upload:before { content: '\e81f'; } /* '' */
.icon-download-cloud:before { content: '\e820'; } /* '' */
.icon-upload-cloud:before { content: '\e821'; } /* '' */
.icon-quote-left:before { content: '\e822'; } /* '' */
.icon-quote-right:before { content: '\e823'; } /* '' */
.icon-quote-left-alt:before { content: '\e824'; } /* '' */
.icon-quote-right-alt:before { content: '\e825'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-pencil-neg:before { content: '\e827'; } /* '' */
.icon-pencil-alt:before { content: '\e828'; } /* '' */
.icon-undo:before { content: '\e829'; } /* '' */
.icon-comment:before { content: '\e82a'; } /* '' */
.icon-comment-inv:before { content: '\e82b'; } /* '' */
.icon-comment-alt:before { content: '\e82c'; } /* '' */
.icon-comment-inv-alt:before { content: '\e82d'; } /* '' */
.icon-comment-alt2:before { content: '\e82e'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e82f'; } /* '' */
.icon-chat:before { content: '\e830'; } /* '' */
.icon-chat-inv:before { content: '\e831'; } /* '' */
.icon-location:before { content: '\e832'; } /* '' */
.icon-location-inv:before { content: '\e833'; } /* '' */
.icon-location-alt:before { content: '\e834'; } /* '' */
.icon-compass:before { content: '\e835'; } /* '' */
.icon-trash:before { content: '\e836'; } /* '' */
.icon-trash-empty:before { content: '\e837'; } /* '' */
.icon-doc:before { content: '\e838'; } /* '' */
.icon-doc-inv:before { content: '\e839'; } /* '' */
.icon-doc-alt:before { content: '\e83a'; } /* '' */
.icon-doc-inv-alt:before { content: '\e83b'; } /* '' */
.icon-article:before { content: '\e83c'; } /* '' */
.icon-article-alt:before { content: '\e83d'; } /* '' */
.icon-book-open:before { content: '\e83e'; } /* '' */
.icon-folder:before { content: '\e83f'; } /* '' */
.icon-folder-empty:before { content: '\e840'; } /* '' */
.icon-box:before { content: '\e841'; } /* '' */
.icon-rss:before { content: '\e842'; } /* '' */
.icon-rss-alt:before { content: '\e843'; } /* '' */
.icon-cog:before { content: '\e844'; } /* '' */
.icon-wrench:before { content: '\e845'; } /* '' */
.icon-share:before { content: '\e846'; } /* '' */
.icon-calendar:before { content: '\e847'; } /* '' */
.icon-calendar-inv:before { content: '\e848'; } /* '' */
.icon-calendar-alt:before { content: '\e849'; } /* '' */
.icon-mic:before { content: '\e84a'; } /* '' */
.icon-volume-off:before { content: '\e84b'; } /* '' */
.icon-volume-up:before { content: '\e84c'; } /* '' */
.icon-headphones:before { content: '\e84d'; } /* '' */
.icon-clock:before { content: '\e84e'; } /* '' */
.icon-lamp:before { content: '\e84f'; } /* '' */
.icon-block:before { content: '\e850'; } /* '' */
.icon-resize-full:before { content: '\e851'; } /* '' */
.icon-resize-full-alt:before { content: '\e852'; } /* '' */
.icon-resize-small:before { content: '\e853'; } /* '' */
.icon-resize-small-alt:before { content: '\e854'; } /* '' */
.icon-resize-vertical:before { content: '\e855'; } /* '' */
.icon-resize-horizontal:before { content: '\e856'; } /* '' */
.icon-move:before { content: '\e857'; } /* '' */
.icon-popup:before { content: '\e858'; } /* '' */
.icon-down:before { content: '\e859'; } /* '' */
.icon-left:before { content: '\e85a'; } /* '' */
.icon-right:before { content: '\e85b'; } /* '' */
.icon-up:before { content: '\e85c'; } /* '' */
.icon-down-circle:before { content: '\e85d'; } /* '' */
.icon-left-circle:before { content: '\e85e'; } /* '' */
.icon-right-circle:before { content: '\e85f'; } /* '' */
.icon-up-circle:before { content: '\e860'; } /* '' */
.icon-cw:before { content: '\e861'; } /* '' */
.icon-loop:before { content: '\e862'; } /* '' */
.icon-loop-alt:before { content: '\e863'; } /* '' */
.icon-exchange:before { content: '\e864'; } /* '' */
.icon-split:before { content: '\e865'; } /* '' */
.icon-arrow-curved:before { content: '\e866'; } /* '' */
.icon-play:before { content: '\e867'; } /* '' */
.icon-play-circle2:before { content: '\e868'; } /* '' */
.icon-stop:before { content: '\e869'; } /* '' */
.icon-pause:before { content: '\e86a'; } /* '' */
.icon-to-start:before { content: '\e86b'; } /* '' */
.icon-to-end:before { content: '\e86c'; } /* '' */
.icon-eject:before { content: '\e86d'; } /* '' */
.icon-target:before { content: '\e86e'; } /* '' */
.icon-signal:before { content: '\e86f'; } /* '' */
.icon-award:before { content: '\e870'; } /* '' */
.icon-award-empty:before { content: '\e871'; } /* '' */
.icon-list:before { content: '\e872'; } /* '' */
.icon-list-nested:before { content: '\e873'; } /* '' */
.icon-bat-empty:before { content: '\e874'; } /* '' */
.icon-bat-half:before { content: '\e875'; } /* '' */
.icon-bat-full:before { content: '\e876'; } /* '' */
.icon-bat-charge:before { content: '\e877'; } /* '' */
.icon-mobile:before { content: '\e878'; } /* '' */
.icon-cd:before { content: '\e879'; } /* '' */
.icon-equalizer:before { content: '\e87a'; } /* '' */
.icon-cursor:before { content: '\e87b'; } /* '' */
.icon-aperture:before { content: '\e87c'; } /* '' */
.icon-aperture-alt:before { content: '\e87d'; } /* '' */
.icon-steering-wheel:before { content: '\e87e'; } /* '' */
.icon-book:before { content: '\e87f'; } /* '' */
.icon-book-alt:before { content: '\e880'; } /* '' */
.icon-brush:before { content: '\e881'; } /* '' */
.icon-brush-alt:before { content: '\e882'; } /* '' */
.icon-eyedropper:before { content: '\e883'; } /* '' */
.icon-layers:before { content: '\e884'; } /* '' */
.icon-layers-alt:before { content: '\e885'; } /* '' */
.icon-sun:before { content: '\e886'; } /* '' */
.icon-sun-inv:before { content: '\e887'; } /* '' */
.icon-cloud:before { content: '\e888'; } /* '' */
.icon-rain:before { content: '\e889'; } /* '' */
.icon-flash:before { content: '\e88a'; } /* '' */
.icon-moon:before { content: '\e88b'; } /* '' */
.icon-moon-inv:before { content: '\e88c'; } /* '' */
.icon-umbrella:before { content: '\e88d'; } /* '' */
.icon-chart-bar:before { content: '\e88e'; } /* '' */
.icon-chart-pie:before { content: '\e88f'; } /* '' */
.icon-chart-pie-alt:before { content: '\e890'; } /* '' */
.icon-key:before { content: '\e891'; } /* '' */
.icon-key-inv:before { content: '\e892'; } /* '' */
.icon-hash:before { content: '\e893'; } /* '' */
.icon-at:before { content: '\e894'; } /* '' */
.icon-pilcrow:before { content: '\e895'; } /* '' */
.icon-dial:before { content: '\e896'; } /* '' */
.icon-search-1:before { content: '\e897'; } /* '' */
.icon-mail-1:before { content: '\e898'; } /* '' */
.icon-heart-1:before { content: '\e899'; } /* '' */
.icon-star-1:before { content: '\e89a'; } /* '' */
.icon-user-1:before { content: '\e89b'; } /* '' */
.icon-user-woman:before { content: '\e89c'; } /* '' */
.icon-user-pair:before { content: '\e89d'; } /* '' */
.icon-video-alt:before { content: '\e89e'; } /* '' */
.icon-videocam:before { content: '\e89f'; } /* '' */
.icon-videocam-alt:before { content: '\e8a0'; } /* '' */
.icon-camera-1:before { content: '\e8a1'; } /* '' */
.icon-th:before { content: '\e8a2'; } /* '' */
.icon-th-list:before { content: '\e8a3'; } /* '' */
.icon-ok-1:before { content: '\e8a4'; } /* '' */
.icon-cancel-1:before { content: '\e8a5'; } /* '' */
.icon-cancel-circle-1:before { content: '\e8a6'; } /* '' */
.icon-plus-1:before { content: '\e8a7'; } /* '' */
.icon-home-1:before { content: '\e8a8'; } /* '' */
.icon-lock-1:before { content: '\e8a9'; } /* '' */
.icon-lock-open-1:before { content: '\e8aa'; } /* '' */
.icon-eye-1:before { content: '\e8ab'; } /* '' */
.icon-tag-1:before { content: '\e8ac'; } /* '' */
.icon-thumbs-up:before { content: '\e8ad'; } /* '' */
.icon-thumbs-down:before { content: '\e8ae'; } /* '' */
.icon-download-1:before { content: '\e8af'; } /* '' */
.icon-export:before { content: '\e8b0'; } /* '' */
.icon-pencil-1:before { content: '\e8b1'; } /* '' */
.icon-pencil-alt-1:before { content: '\e8b2'; } /* '' */
.icon-edit:before { content: '\e8b3'; } /* '' */
.icon-chat-1:before { content: '\e8b4'; } /* '' */
.icon-print:before { content: '\e8b5'; } /* '' */
.icon-bell:before { content: '\e8b6'; } /* '' */
.icon-attention:before { content: '\e8b7'; } /* '' */
.icon-info-1:before { content: '\e8b8'; } /* '' */
.icon-question:before { content: '\e8b9'; } /* '' */
.icon-location-1:before { content: '\e8ba'; } /* '' */
.icon-trash-1:before { content: '\e8bb'; } /* '' */
.icon-doc-1:before { content: '\e8bc'; } /* '' */
.icon-article-1:before { content: '\e8bd'; } /* '' */
.icon-article-alt-1:before { content: '\e8be'; } /* '' */
.icon-rss-1:before { content: '\e8bf'; } /* '' */
.icon-wrench-1:before { content: '\e8c0'; } /* '' */
.icon-basket:before { content: '\e8c1'; } /* '' */
.icon-basket-alt:before { content: '\e8c2'; } /* '' */
.icon-calendar-1:before { content: '\e8c3'; } /* '' */
.icon-calendar-alt-1:before { content: '\e8c4'; } /* '' */
.icon-volume-off-1:before { content: '\e8c5'; } /* '' */
.icon-volume-down:before { content: '\e8c6'; } /* '' */
.icon-volume-up-1:before { content: '\e8c7'; } /* '' */
.icon-bullhorn:before { content: '\e8c8'; } /* '' */
.icon-clock-1:before { content: '\e8c9'; } /* '' */
.icon-clock-alt:before { content: '\e8ca'; } /* '' */
.icon-stop-1:before { content: '\e8cb'; } /* '' */
.icon-resize-full-1:before { content: '\e8cc'; } /* '' */
.icon-resize-small-1:before { content: '\e8cd'; } /* '' */
.icon-zoom-in:before { content: '\e8ce'; } /* '' */
.icon-zoom-out:before { content: '\e8cf'; } /* '' */
.icon-popup-1:before { content: '\e8d0'; } /* '' */
.icon-down-dir:before { content: '\e8d1'; } /* '' */
.icon-left-dir:before { content: '\e8d2'; } /* '' */
.icon-right-dir:before { content: '\e8d3'; } /* '' */
.icon-up-dir:before { content: '\e8d4'; } /* '' */
.icon-down-1:before { content: '\e8d5'; } /* '' */
.icon-up-1:before { content: '\e8d6'; } /* '' */
.icon-cw-1:before { content: '\e8d7'; } /* '' */
.icon-signal-1:before { content: '\e8d8'; } /* '' */
.icon-award-1:before { content: '\e8d9'; } /* '' */
.icon-mobile-1:before { content: '\e8da'; } /* '' */
.icon-mobile-alt:before { content: '\e8db'; } /* '' */
.icon-tablet:before { content: '\e8dc'; } /* '' */
.icon-ipod:before { content: '\e8dd'; } /* '' */
.icon-cd-1:before { content: '\e8de'; } /* '' */
.icon-grid:before { content: '\e8df'; } /* '' */
.icon-book-1:before { content: '\e8e0'; } /* '' */
.icon-easel:before { content: '\e8e1'; } /* '' */
.icon-globe:before { content: '\e8e2'; } /* '' */
.icon-chart:before { content: '\e8e3'; } /* '' */
.icon-chart-bar-1:before { content: '\e8e4'; } /* '' */
.icon-chart-pie-1:before { content: '\e8e5'; } /* '' */
.icon-dollar:before { content: '\e8e6'; } /* '' */
.icon-at-1:before { content: '\e8e7'; } /* '' */
.icon-colon:before { content: '\e8e8'; } /* '' */
.icon-semicolon:before { content: '\e8e9'; } /* '' */
.icon-squares:before { content: '\e8ea'; } /* '' */
.icon-money:before { content: '\e8eb'; } /* '' */
.icon-facebook:before { content: '\e8ec'; } /* '' */
.icon-facebook-rect:before { content: '\e8ed'; } /* '' */
.icon-twitter:before { content: '\e8ee'; } /* '' */
.icon-twitter-bird:before { content: '\e8ef'; } /* '' */
.icon-twitter-rect:before { content: '\e8f0'; } /* '' */
.icon-youtube:before { content: '\e8f1'; } /* '' */
.icon-windy-rain-inv:before { content: '\e8f2'; } /* '' */
.icon-snow-inv:before { content: '\e8f3'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e8f4'; } /* '' */
.icon-hail-inv:before { content: '\e8f5'; } /* '' */
.icon-clouds-inv:before { content: '\e8f6'; } /* '' */
.icon-clouds-flash-inv:before { content: '\e8f7'; } /* '' */
.icon-temperature:before { content: '\e8f8'; } /* '' */
.icon-compass-1:before { content: '\e8f9'; } /* '' */
.icon-na:before { content: '\e8fa'; } /* '' */
.icon-celcius:before { content: '\e8fb'; } /* '' */
.icon-fahrenheit:before { content: '\e8fc'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e8fd'; } /* '' */
.icon-sun-inv-1:before { content: '\e8fe'; } /* '' */
.icon-moon-inv-1:before { content: '\e8ff'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e900'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e901'; } /* '' */
.icon-cloud-inv:before { content: '\e902'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e903'; } /* '' */
.icon-drizzle-inv:before { content: '\e904'; } /* '' */
.icon-rain-inv:before { content: '\e905'; } /* '' */
.icon-windy-inv:before { content: '\e906'; } /* '' */
.icon-sunrise:before { content: '\e907'; } /* '' */
.icon-sun-1:before { content: '\e908'; } /* '' */
.icon-moon-1:before { content: '\e909'; } /* '' */
.icon-eclipse:before { content: '\e90a'; } /* '' */
.icon-mist:before { content: '\e90b'; } /* '' */
.icon-wind:before { content: '\e90c'; } /* '' */
.icon-snowflake:before { content: '\e90d'; } /* '' */
.icon-cloud-sun:before { content: '\e90e'; } /* '' */
.icon-cloud-moon:before { content: '\e90f'; } /* '' */
.icon-fog-sun:before { content: '\e910'; } /* '' */
.icon-fog-moon:before { content: '\e911'; } /* '' */
.icon-fog-cloud:before { content: '\e912'; } /* '' */
.icon-fog:before { content: '\e913'; } /* '' */
.icon-cloud-1:before { content: '\e914'; } /* '' */
.icon-cloud-flash:before { content: '\e915'; } /* '' */
.icon-cloud-flash-alt:before { content: '\e916'; } /* '' */
.icon-drizzle:before { content: '\e917'; } /* '' */
.icon-rain-1:before { content: '\e918'; } /* '' */
.icon-windy:before { content: '\e919'; } /* '' */
.icon-windy-rain:before { content: '\e91a'; } /* '' */
.icon-snow:before { content: '\e91b'; } /* '' */
.icon-snow-alt:before { content: '\e91c'; } /* '' */
.icon-snow-heavy:before { content: '\e91d'; } /* '' */
.icon-hail:before { content: '\e91e'; } /* '' */
.icon-clouds:before { content: '\e91f'; } /* '' */
.icon-clouds-flash:before { content: '\e920'; } /* '' */
.icon-search-2:before { content: '\e921'; } /* '' */
.icon-mail-2:before { content: '\e922'; } /* '' */
.icon-heart-2:before { content: '\e923'; } /* '' */
.icon-heart-broken:before { content: '\e924'; } /* '' */
.icon-star-2:before { content: '\e925'; } /* '' */
.icon-star-empty:before { content: '\e926'; } /* '' */
.icon-star-half:before { content: '\e927'; } /* '' */
.icon-star-half_empty:before { content: '\e928'; } /* '' */
.icon-user-2:before { content: '\e929'; } /* '' */
.icon-user-male:before { content: '\e92a'; } /* '' */
.icon-user-female:before { content: '\e92b'; } /* '' */
.icon-users:before { content: '\e92c'; } /* '' */
.icon-movie:before { content: '\e92d'; } /* '' */
.icon-videocam-1:before { content: '\e92e'; } /* '' */
.icon-isight:before { content: '\e92f'; } /* '' */
.icon-camera-2:before { content: '\e930'; } /* '' */
.icon-menu:before { content: '\e931'; } /* '' */
.icon-th-thumb:before { content: '\e932'; } /* '' */
.icon-th-thumb-empty:before { content: '\e933'; } /* '' */
.icon-th-list-1:before { content: '\e934'; } /* '' */
.icon-ok-2:before { content: '\e935'; } /* '' */
.icon-ok-circled:before { content: '\e936'; } /* '' */
.icon-cancel-2:before { content: '\e937'; } /* '' */
.icon-cancel-circled:before { content: '\e938'; } /* '' */
.icon-plus-2:before { content: '\e939'; } /* '' */
.icon-help-circled:before { content: '\e93a'; } /* '' */
.icon-help-circled-alt:before { content: '\e93b'; } /* '' */
.icon-info-circled:before { content: '\e93c'; } /* '' */
.icon-info-circled-alt:before { content: '\e93d'; } /* '' */
.icon-home-2:before { content: '\e93e'; } /* '' */
.icon-link-1:before { content: '\e93f'; } /* '' */
.icon-attach-1:before { content: '\e940'; } /* '' */
.icon-lock-2:before { content: '\e941'; } /* '' */
.icon-lock-alt:before { content: '\e942'; } /* '' */
.icon-lock-open-2:before { content: '\e943'; } /* '' */
.icon-lock-open-alt:before { content: '\e944'; } /* '' */
.icon-eye-2:before { content: '\e945'; } /* '' */
.icon-download-2:before { content: '\e946'; } /* '' */
.icon-upload-1:before { content: '\e947'; } /* '' */
.icon-download-cloud-1:before { content: '\e948'; } /* '' */
.icon-upload-cloud-1:before { content: '\e949'; } /* '' */
.icon-reply:before { content: '\e94a'; } /* '' */
.icon-pencil-2:before { content: '\e94b'; } /* '' */
.icon-export-1:before { content: '\e94c'; } /* '' */
.icon-print-1:before { content: '\e94d'; } /* '' */
.icon-retweet:before { content: '\e94e'; } /* '' */
.icon-comment-1:before { content: '\e94f'; } /* '' */
.icon-chat-2:before { content: '\e950'; } /* '' */
.icon-bell-1:before { content: '\e951'; } /* '' */
.icon-attention-1:before { content: '\e952'; } /* '' */
.icon-attention-alt:before { content: '\e953'; } /* '' */
.icon-location-2:before { content: '\e954'; } /* '' */
.icon-trash-2:before { content: '\e955'; } /* '' */
.icon-doc-2:before { content: '\e956'; } /* '' */
.icon-newspaper:before { content: '\e957'; } /* '' */
.icon-folder-1:before { content: '\e958'; } /* '' */
.icon-folder-open:before { content: '\e959'; } /* '' */
.icon-folder-empty-1:before { content: '\e95a'; } /* '' */
.icon-folder-open-empty:before { content: '\e95b'; } /* '' */
.icon-cog-1:before { content: '\e95c'; } /* '' */
.icon-calendar-2:before { content: '\e95d'; } /* '' */
.icon-login:before { content: '\e95e'; } /* '' */
.icon-logout:before { content: '\e95f'; } /* '' */
.icon-mic-1:before { content: '\e960'; } /* '' */
.icon-mic-off:before { content: '\e961'; } /* '' */
.icon-clock-2:before { content: '\e962'; } /* '' */
.icon-stopwatch:before { content: '\e963'; } /* '' */
.icon-hourglass:before { content: '\e964'; } /* '' */
.icon-zoom-in-1:before { content: '\e965'; } /* '' */
.icon-zoom-out-1:before { content: '\e966'; } /* '' */
.icon-down-open:before { content: '\e967'; } /* '' */
.icon-left-open:before { content: '\e968'; } /* '' */
.icon-right-open:before { content: '\e969'; } /* '' */
.icon-up-open:before { content: '\e96a'; } /* '' */
.icon-down-2:before { content: '\e96b'; } /* '' */
.icon-left-1:before { content: '\e96c'; } /* '' */
.icon-right-1:before { content: '\e96d'; } /* '' */
.icon-up-2:before { content: '\e96e'; } /* '' */
.icon-down-bold:before { content: '\e96f'; } /* '' */
.icon-left-bold:before { content: '\e970'; } /* '' */
.icon-right-bold:before { content: '\e971'; } /* '' */
.icon-up-bold:before { content: '\e972'; } /* '' */
.icon-down-fat:before { content: '\e973'; } /* '' */
.icon-left-fat:before { content: '\e974'; } /* '' */
.icon-right-fat:before { content: '\e975'; } /* '' */
.icon-up-fat:before { content: '\e976'; } /* '' */
.icon-ccw:before { content: '\e977'; } /* '' */
.icon-shuffle:before { content: '\e978'; } /* '' */
.icon-play-1:before { content: '\e979'; } /* '' */
.icon-pause-1:before { content: '\e97a'; } /* '' */
.icon-stop-2:before { content: '\e97b'; } /* '' */
.icon-to-end-1:before { content: '\e97c'; } /* '' */
.icon-to-start-1:before { content: '\e97d'; } /* '' */
.icon-fast-forward:before { content: '\e97e'; } /* '' */
.icon-fast-backward:before { content: '\e97f'; } /* '' */
.icon-trophy:before { content: '\e980'; } /* '' */
.icon-monitor:before { content: '\e981'; } /* '' */
.icon-tablet-1:before { content: '\e982'; } /* '' */
.icon-mobile-2:before { content: '\e983'; } /* '' */
.icon-data-science:before { content: '\e984'; } /* '' */
.icon-data-science-inv:before { content: '\e985'; } /* '' */
.icon-inbox:before { content: '\e986'; } /* '' */
.icon-globe-1:before { content: '\e987'; } /* '' */
.icon-globe-inv:before { content: '\e988'; } /* '' */
.icon-flash-1:before { content: '\e989'; } /* '' */
.icon-cloud-2:before { content: '\e98a'; } /* '' */
.icon-coverflow:before { content: '\e98b'; } /* '' */
.icon-coverflow-empty:before { content: '\e98c'; } /* '' */
.icon-math:before { content: '\e98d'; } /* '' */
.icon-math-circled:before { content: '\e98e'; } /* '' */
.icon-math-circled-empty:before { content: '\e98f'; } /* '' */
.icon-paper-plane:before { content: '\e990'; } /* '' */
.icon-paper-plane-alt:before { content: '\e991'; } /* '' */
.icon-paper-plane-alt2:before { content: '\e992'; } /* '' */
.icon-fontsize:before { content: '\e993'; } /* '' */
.icon-color-adjust:before { content: '\e994'; } /* '' */
.icon-fire:before { content: '\e995'; } /* '' */
.icon-chart-bar-2:before { content: '\e996'; } /* '' */
.icon-hdd:before { content: '\e997'; } /* '' */
.icon-connected-object:before { content: '\e998'; } /* '' */
.icon-ruler:before { content: '\e999'; } /* '' */
.icon-vector:before { content: '\e99a'; } /* '' */
.icon-vector-pencil:before { content: '\e99b'; } /* '' */
.icon-at-2:before { content: '\e99c'; } /* '' */
.icon-hash-1:before { content: '\e99d'; } /* '' */
.icon-female:before { content: '\e99e'; } /* '' */
.icon-male:before { content: '\e99f'; } /* '' */
.icon-spread:before { content: '\e9a0'; } /* '' */
.icon-king:before { content: '\e9a1'; } /* '' */
.icon-anchor:before { content: '\e9a2'; } /* '' */
.icon-joystick:before { content: '\e9a3'; } /* '' */
.icon-spinner1:before { content: '\e9a4'; } /* '' */
.icon-spinner2:before { content: '\e9a5'; } /* '' */
.icon-github:before { content: '\e9a6'; } /* '' */
.icon-github-circled:before { content: '\e9a7'; } /* '' */
.icon-github-circled-alt:before { content: '\e9a8'; } /* '' */
.icon-github-circled-alt2:before { content: '\e9a9'; } /* '' */
.icon-twitter-1:before { content: '\e9aa'; } /* '' */
.icon-twitter-circled:before { content: '\e9ab'; } /* '' */
.icon-facebook-1:before { content: '\e9ac'; } /* '' */
.icon-facebook-circled:before { content: '\e9ad'; } /* '' */
.icon-gplus:before { content: '\e9ae'; } /* '' */
.icon-gplus-circled:before { content: '\e9af'; } /* '' */
.icon-linkedin:before { content: '\e9b0'; } /* '' */
.icon-linkedin-circled:before { content: '\e9b1'; } /* '' */
.icon-dribbble:before { content: '\e9b2'; } /* '' */
.icon-dribbble-circled:before { content: '\e9b3'; } /* '' */
.icon-instagram:before { content: '\e9b4'; } /* '' */
.icon-instagram-circled:before { content: '\e9b5'; } /* '' */
.icon-soundcloud:before { content: '\e9b6'; } /* '' */
.icon-soundcloud-circled:before { content: '\e9b7'; } /* '' */
.icon-mfg-logo:before { content: '\e9b8'; } /* '' */
.icon-mfg-logo-circled:before { content: '\e9b9'; } /* '' */
.icon-aboveground-rail:before { content: '\e9ba'; } /* '' */
.icon-airfield:before { content: '\e9bb'; } /* '' */
.icon-airport:before { content: '\e9bc'; } /* '' */
.icon-art-gallery:before { content: '\e9bd'; } /* '' */
.icon-bar:before { content: '\e9be'; } /* '' */
.icon-baseball:before { content: '\e9bf'; } /* '' */
.icon-basketball:before { content: '\e9c0'; } /* '' */
.icon-beer:before { content: '\e9c1'; } /* '' */
.icon-belowground-rail:before { content: '\e9c2'; } /* '' */
.icon-bicycle:before { content: '\e9c3'; } /* '' */
.icon-bus:before { content: '\e9c4'; } /* '' */
.icon-cafe:before { content: '\e9c5'; } /* '' */
.icon-campsite:before { content: '\e9c6'; } /* '' */
.icon-cemetery:before { content: '\e9c7'; } /* '' */
.icon-cinema:before { content: '\e9c8'; } /* '' */
.icon-college:before { content: '\e9c9'; } /* '' */
.icon-commerical-building:before { content: '\e9ca'; } /* '' */
.icon-credit-card:before { content: '\e9cb'; } /* '' */
.icon-cricket:before { content: '\e9cc'; } /* '' */
.icon-embassy:before { content: '\e9cd'; } /* '' */
.icon-fast-food:before { content: '\e9ce'; } /* '' */
.icon-ferry:before { content: '\e9cf'; } /* '' */
.icon-fire-station:before { content: '\e9d0'; } /* '' */
.icon-football:before { content: '\e9d1'; } /* '' */
.icon-fuel:before { content: '\e9d2'; } /* '' */
.icon-garden:before { content: '\e9d3'; } /* '' */
.icon-giraffe:before { content: '\e9d4'; } /* '' */
.icon-golf:before { content: '\e9d5'; } /* '' */
.icon-grocery-store:before { content: '\e9d6'; } /* '' */
.icon-harbor:before { content: '\e9d7'; } /* '' */
.icon-heliport:before { content: '\e9d8'; } /* '' */
.icon-hospital:before { content: '\e9d9'; } /* '' */
.icon-industrial-building:before { content: '\e9da'; } /* '' */
.icon-library:before { content: '\e9db'; } /* '' */
.icon-lodging:before { content: '\e9dc'; } /* '' */
.icon-london-underground:before { content: '\e9dd'; } /* '' */
.icon-minefield:before { content: '\e9de'; } /* '' */
.icon-monument:before { content: '\e9df'; } /* '' */
.icon-museum:before { content: '\e9e0'; } /* '' */
.icon-pharmacy:before { content: '\e9e1'; } /* '' */
.icon-pitch:before { content: '\e9e2'; } /* '' */
.icon-police:before { content: '\e9e3'; } /* '' */
.icon-post:before { content: '\e9e4'; } /* '' */
.icon-prison:before { content: '\e9e5'; } /* '' */
.icon-rail:before { content: '\e9e6'; } /* '' */
.icon-religious-christian:before { content: '\e9e7'; } /* '' */
.icon-religious-islam:before { content: '\e9e8'; } /* '' */
.icon-religious-jewish:before { content: '\e9e9'; } /* '' */
.icon-restaurant:before { content: '\e9ea'; } /* '' */
.icon-roadblock:before { content: '\e9eb'; } /* '' */
.icon-school:before { content: '\e9ec'; } /* '' */
.icon-shop:before { content: '\e9ed'; } /* '' */
.icon-skiing:before { content: '\e9ee'; } /* '' */
.icon-soccer:before { content: '\e9ef'; } /* '' */
.icon-swimming:before { content: '\e9f0'; } /* '' */
.icon-tennis:before { content: '\e9f1'; } /* '' */
.icon-theatre:before { content: '\e9f2'; } /* '' */
.icon-toilet:before { content: '\e9f3'; } /* '' */
.icon-town-hall:before { content: '\e9f4'; } /* '' */
.icon-trash-3:before { content: '\e9f5'; } /* '' */
.icon-tree-1:before { content: '\e9f6'; } /* '' */
.icon-tree-2:before { content: '\e9f7'; } /* '' */
.icon-warehouse:before { content: '\e9f8'; } /* '' */
.icon-duckduckgo:before { content: '\e9f9'; } /* '' */
.icon-aim:before { content: '\e9fa'; } /* '' */
.icon-delicious:before { content: '\e9fb'; } /* '' */
.icon-paypal:before { content: '\e9fc'; } /* '' */
.icon-flattr:before { content: '\e9fd'; } /* '' */
.icon-android:before { content: '\e9fe'; } /* '' */
.icon-eventful:before { content: '\e9ff'; } /* '' */
.icon-smashmag:before { content: '\ea00'; } /* '' */
.icon-gplus-1:before { content: '\ea01'; } /* '' */
.icon-wikipedia:before { content: '\ea02'; } /* '' */
.icon-lanyrd:before { content: '\ea03'; } /* '' */
.icon-calendar-3:before { content: '\ea04'; } /* '' */
.icon-stumbleupon:before { content: '\ea05'; } /* '' */
.icon-fivehundredpx:before { content: '\ea06'; } /* '' */
.icon-pinterest:before { content: '\ea07'; } /* '' */
.icon-bitcoin:before { content: '\ea08'; } /* '' */
.icon-w3c:before { content: '\ea09'; } /* '' */
.icon-foursquare:before { content: '\ea0a'; } /* '' */
.icon-html5:before { content: '\ea0b'; } /* '' */
.icon-ie:before { content: '\ea0c'; } /* '' */
.icon-call:before { content: '\ea0d'; } /* '' */
.icon-grooveshark:before { content: '\ea0e'; } /* '' */
.icon-ninetyninedesigns:before { content: '\ea0f'; } /* '' */
.icon-forrst:before { content: '\ea10'; } /* '' */
.icon-digg:before { content: '\ea11'; } /* '' */
.icon-spotify:before { content: '\ea12'; } /* '' */
.icon-reddit:before { content: '\ea13'; } /* '' */
.icon-guest:before { content: '\ea14'; } /* '' */
.icon-gowalla:before { content: '\ea15'; } /* '' */
.icon-appstore:before { content: '\ea16'; } /* '' */
.icon-blogger:before { content: '\ea17'; } /* '' */
.icon-cc:before { content: '\ea18'; } /* '' */
.icon-dribbble-1:before { content: '\ea19'; } /* '' */
.icon-evernote:before { content: '\ea1a'; } /* '' */
.icon-flickr:before { content: '\ea1b'; } /* '' */
.icon-google:before { content: '\ea1c'; } /* '' */
.icon-viadeo:before { content: '\ea1d'; } /* '' */
.icon-instapaper:before { content: '\ea1e'; } /* '' */
.icon-weibo:before { content: '\ea1f'; } /* '' */
.icon-klout:before { content: '\ea20'; } /* '' */
.icon-linkedin-1:before { content: '\ea21'; } /* '' */
.icon-meetup:before { content: '\ea22'; } /* '' */
.icon-vk:before { content: '\ea23'; } /* '' */
.icon-plancast:before { content: '\ea24'; } /* '' */
.icon-disqus:before { content: '\ea25'; } /* '' */
.icon-rss-2:before { content: '\ea26'; } /* '' */
.icon-skype:before { content: '\ea27'; } /* '' */
.icon-twitter-2:before { content: '\ea28'; } /* '' */
.icon-youtube-1:before { content: '\ea29'; } /* '' */
.icon-vimeo:before { content: '\ea2a'; } /* '' */
.icon-windows:before { content: '\ea2b'; } /* '' */
.icon-xing:before { content: '\ea2c'; } /* '' */
.icon-yahoo:before { content: '\ea2d'; } /* '' */
.icon-chrome:before { content: '\ea2e'; } /* '' */
.icon-email:before { content: '\ea2f'; } /* '' */
.icon-macstore:before { content: '\ea30'; } /* '' */
.icon-myspace:before { content: '\ea31'; } /* '' */
.icon-podcast:before { content: '\ea32'; } /* '' */
.icon-amazon:before { content: '\ea33'; } /* '' */
.icon-steam:before { content: '\ea34'; } /* '' */
.icon-cloudapp:before { content: '\ea35'; } /* '' */
.icon-dropbox:before { content: '\ea36'; } /* '' */
.icon-ebay:before { content: '\ea37'; } /* '' */
.icon-facebook-2:before { content: '\ea38'; } /* '' */
.icon-github-1:before { content: '\ea39'; } /* '' */
.icon-github-circled-1:before { content: '\ea3a'; } /* '' */
.icon-googleplay:before { content: '\ea3b'; } /* '' */
.icon-itunes:before { content: '\ea3c'; } /* '' */
.icon-plurk:before { content: '\ea3d'; } /* '' */
.icon-songkick:before { content: '\ea3e'; } /* '' */
.icon-lastfm:before { content: '\ea3f'; } /* '' */
.icon-gmail:before { content: '\ea40'; } /* '' */
.icon-pinboard:before { content: '\ea41'; } /* '' */
.icon-openid:before { content: '\ea42'; } /* '' */
.icon-quora:before { content: '\ea43'; } /* '' */
.icon-soundcloud-1:before { content: '\ea44'; } /* '' */
.icon-tumblr:before { content: '\ea45'; } /* '' */
.icon-eventasaurus:before { content: '\ea46'; } /* '' */
.icon-wordpress:before { content: '\ea47'; } /* '' */
.icon-yelp:before { content: '\ea48'; } /* '' */
.icon-intensedebate:before { content: '\ea49'; } /* '' */
.icon-eventbrite:before { content: '\ea4a'; } /* '' */
.icon-scribd:before { content: '\ea4b'; } /* '' */
.icon-posterous:before { content: '\ea4c'; } /* '' */
.icon-stripe:before { content: '\ea4d'; } /* '' */
.icon-opentable:before { content: '\ea4e'; } /* '' */
.icon-cart:before { content: '\ea4f'; } /* '' */
.icon-print-2:before { content: '\ea50'; } /* '' */
.icon-angellist:before { content: '\ea51'; } /* '' */
.icon-instagram-1:before { content: '\ea52'; } /* '' */
.icon-dwolla:before { content: '\ea53'; } /* '' */
.icon-appnet:before { content: '\ea54'; } /* '' */
.icon-statusnet:before { content: '\ea55'; } /* '' */
.icon-acrobat:before { content: '\ea56'; } /* '' */
.icon-drupal:before { content: '\ea57'; } /* '' */
.icon-buffer:before { content: '\ea58'; } /* '' */
.icon-pocket:before { content: '\ea59'; } /* '' */
.icon-bitbucket:before { content: '\ea5a'; } /* '' */
.icon-lego:before { content: '\ea5b'; } /* '' */
.icon-login-1:before { content: '\ea5c'; } /* '' */
.icon-stackoverflow:before { content: '\ea5d'; } /* '' */
.icon-hackernews:before { content: '\ea5e'; } /* '' */
.icon-lkdto:before { content: '\ea5f'; } /* '' */
.icon-facebook-3:before { content: '\ea60'; } /* '' */
.icon-facebook-rect-1:before { content: '\ea61'; } /* '' */
.icon-twitter-3:before { content: '\ea62'; } /* '' */
.icon-twitter-bird-1:before { content: '\ea63'; } /* '' */
.icon-vimeo-1:before { content: '\ea64'; } /* '' */
.icon-vimeo-rect:before { content: '\ea65'; } /* '' */
.icon-tumblr-1:before { content: '\ea66'; } /* '' */
.icon-tumblr-rect:before { content: '\ea67'; } /* '' */
.icon-googleplus-rect:before { content: '\ea68'; } /* '' */
.icon-github-text:before { content: '\ea69'; } /* '' */
.icon-github-2:before { content: '\ea6a'; } /* '' */
.icon-skype-1:before { content: '\ea6b'; } /* '' */
.icon-icq:before { content: '\ea6c'; } /* '' */
.icon-yandex:before { content: '\ea6d'; } /* '' */
.icon-yandex-rect:before { content: '\ea6e'; } /* '' */
.icon-vkontakte-rect:before { content: '\ea6f'; } /* '' */
.icon-odnoklassniki:before { content: '\ea70'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\ea71'; } /* '' */
.icon-friendfeed:before { content: '\ea72'; } /* '' */
.icon-friendfeed-rect:before { content: '\ea73'; } /* '' */
.icon-blogger-1:before { content: '\ea74'; } /* '' */
.icon-blogger-rect:before { content: '\ea75'; } /* '' */
.icon-deviantart:before { content: '\ea76'; } /* '' */
.icon-jabber:before { content: '\ea77'; } /* '' */
.icon-lastfm-1:before { content: '\ea78'; } /* '' */
.icon-lastfm-rect:before { content: '\ea79'; } /* '' */
.icon-linkedin-2:before { content: '\ea7a'; } /* '' */
.icon-linkedin-rect:before { content: '\ea7b'; } /* '' */
.icon-picasa:before { content: '\ea7c'; } /* '' */
.icon-wordpress-1:before { content: '\ea7d'; } /* '' */
.icon-instagram-2:before { content: '\ea7e'; } /* '' */
.icon-instagram-filled:before { content: '\ea7f'; } /* '' */
.icon-diigo:before { content: '\ea80'; } /* '' */
.icon-box-1:before { content: '\ea81'; } /* '' */
.icon-box-rect:before { content: '\ea82'; } /* '' */
.icon-tudou:before { content: '\ea83'; } /* '' */
.icon-youku:before { content: '\ea84'; } /* '' */
.icon-win8:before { content: '\ea85'; } /* '' */
.icon-amex:before { content: '\ea86'; } /* '' */
.icon-discover:before { content: '\ea87'; } /* '' */
.icon-visa:before { content: '\ea88'; } /* '' */
.icon-mastercard:before { content: '\ea89'; } /* '' */
.icon-houzz:before { content: '\ea8a'; } /* '' */
.icon-bandcamp:before { content: '\ea8b'; } /* '' */
.icon-codepen:before { content: '\ea8c'; } /* '' */
.icon-glass:before { content: '\ea8d'; } /* '' */
.icon-music:before { content: '\ea8e'; } /* '' */
.icon-search-3:before { content: '\ea8f'; } /* '' */
.icon-search-circled:before { content: '\ea90'; } /* '' */
.icon-mail-3:before { content: '\ea91'; } /* '' */
.icon-mail-circled:before { content: '\ea92'; } /* '' */
.icon-heart-3:before { content: '\ea93'; } /* '' */
.icon-heart-circled:before { content: '\ea94'; } /* '' */
.icon-heart-empty-1:before { content: '\ea95'; } /* '' */
.icon-star-3:before { content: '\ea96'; } /* '' */
.icon-star-circled:before { content: '\ea97'; } /* '' */
.icon-star-empty-1:before { content: '\ea98'; } /* '' */
.icon-user-3:before { content: '\ea99'; } /* '' */
.icon-group:before { content: '\ea9a'; } /* '' */
.icon-group-circled:before { content: '\ea9b'; } /* '' */
.icon-torso:before { content: '\ea9c'; } /* '' */
.icon-video-1:before { content: '\ea9d'; } /* '' */
.icon-video-circled:before { content: '\ea9e'; } /* '' */
.icon-video-alt-1:before { content: '\ea9f'; } /* '' */
.icon-videocam-2:before { content: '\eaa0'; } /* '' */
.icon-video-chat:before { content: '\eaa1'; } /* '' */
.icon-picture-1:before { content: '\eaa2'; } /* '' */
.icon-camera-3:before { content: '\eaa3'; } /* '' */
.icon-photo:before { content: '\eaa4'; } /* '' */
.icon-photo-circled:before { content: '\eaa5'; } /* '' */
.icon-th-large:before { content: '\eaa6'; } /* '' */
.icon-th-1:before { content: '\eaa7'; } /* '' */
.icon-th-list-2:before { content: '\eaa8'; } /* '' */
.icon-view-mode:before { content: '\eaa9'; } /* '' */
.icon-ok-3:before { content: '\eaaa'; } /* '' */
.icon-ok-circled-1:before { content: '\eaab'; } /* '' */
.icon-ok-circled2:before { content: '\eaac'; } /* '' */
.icon-cancel-3:before { content: '\eaad'; } /* '' */
.icon-cancel-circled-1:before { content: '\eaae'; } /* '' */
.icon-cancel-circled2:before { content: '\eaaf'; } /* '' */
.icon-plus-3:before { content: '\eab0'; } /* '' */
.icon-plus-circled:before { content: '\eab1'; } /* '' */
.icon-minus-1:before { content: '\eab2'; } /* '' */
.icon-minus-circled:before { content: '\eab3'; } /* '' */
.icon-help-1:before { content: '\eab4'; } /* '' */
.icon-help-circled-1:before { content: '\eab5'; } /* '' */
.icon-info-circled-1:before { content: '\eab6'; } /* '' */
.icon-home-3:before { content: '\eab7'; } /* '' */
.icon-home-circled:before { content: '\eab8'; } /* '' */
.icon-website:before { content: '\eab9'; } /* '' */
.icon-website-circled:before { content: '\eaba'; } /* '' */
.icon-attach-2:before { content: '\eabb'; } /* '' */
.icon-attach-circled:before { content: '\eabc'; } /* '' */
.icon-lock-3:before { content: '\eabd'; } /* '' */
.icon-lock-circled:before { content: '\eabe'; } /* '' */
.icon-lock-open-3:before { content: '\eabf'; } /* '' */
.icon-lock-open-alt-1:before { content: '\eac0'; } /* '' */
.icon-eye-3:before { content: '\eac1'; } /* '' */
.icon-eye-off:before { content: '\eac2'; } /* '' */
.icon-tag-2:before { content: '\eac3'; } /* '' */
.icon-tags:before { content: '\eac4'; } /* '' */
.icon-bookmark:before { content: '\eac5'; } /* '' */
.icon-bookmark-empty:before { content: '\eac6'; } /* '' */
.icon-flag:before { content: '\eac7'; } /* '' */
.icon-flag-circled:before { content: '\eac8'; } /* '' */
.icon-thumbs-up-1:before { content: '\eac9'; } /* '' */
.icon-thumbs-down-1:before { content: '\eaca'; } /* '' */
.icon-download-3:before { content: '\eacb'; } /* '' */
.icon-download-alt:before { content: '\eacc'; } /* '' */
.icon-upload-2:before { content: '\eacd'; } /* '' */
.icon-share-1:before { content: '\eace'; } /* '' */
.icon-quote:before { content: '\eacf'; } /* '' */
.icon-quote-circled:before { content: '\ead0'; } /* '' */
.icon-export-2:before { content: '\ead1'; } /* '' */
.icon-pencil-3:before { content: '\ead2'; } /* '' */
.icon-pencil-circled:before { content: '\ead3'; } /* '' */
.icon-edit-1:before { content: '\ead4'; } /* '' */
.icon-edit-circled:before { content: '\ead5'; } /* '' */
.icon-edit-alt:before { content: '\ead6'; } /* '' */
.icon-print-3:before { content: '\ead7'; } /* '' */
.icon-retweet-1:before { content: '\ead8'; } /* '' */
.icon-comment-2:before { content: '\ead9'; } /* '' */
.icon-comment-alt-1:before { content: '\eada'; } /* '' */
.icon-bell-2:before { content: '\eadb'; } /* '' */
.icon-warning:before { content: '\eadc'; } /* '' */
.icon-exclamation:before { content: '\eadd'; } /* '' */
.icon-error:before { content: '\eade'; } /* '' */
.icon-error-alt:before { content: '\eadf'; } /* '' */
.icon-location-3:before { content: '\eae0'; } /* '' */
.icon-location-circled:before { content: '\eae1'; } /* '' */
.icon-compass-2:before { content: '\eae2'; } /* '' */
.icon-compass-circled:before { content: '\eae3'; } /* '' */
.icon-trash-4:before { content: '\eae4'; } /* '' */
.icon-trash-circled:before { content: '\eae5'; } /* '' */
.icon-doc-3:before { content: '\eae6'; } /* '' */
.icon-doc-circled:before { content: '\eae7'; } /* '' */
.icon-doc-new:before { content: '\eae8'; } /* '' */
.icon-doc-new-circled:before { content: '\eae9'; } /* '' */
.icon-folder-2:before { content: '\eaea'; } /* '' */
.icon-folder-circled:before { content: '\eaeb'; } /* '' */
.icon-folder-close:before { content: '\eaec'; } /* '' */
.icon-folder-open-1:before { content: '\eaed'; } /* '' */
.icon-rss-3:before { content: '\eaee'; } /* '' */
.icon-phone:before { content: '\eaef'; } /* '' */
.icon-phone-circled:before { content: '\eaf0'; } /* '' */
.icon-cog-2:before { content: '\eaf1'; } /* '' */
.icon-cog-circled:before { content: '\eaf2'; } /* '' */
.icon-cogs:before { content: '\eaf3'; } /* '' */
.icon-wrench-2:before { content: '\eaf4'; } /* '' */
.icon-wrench-circled:before { content: '\eaf5'; } /* '' */
.icon-basket-1:before { content: '\eaf6'; } /* '' */
.icon-basket-circled:before { content: '\eaf7'; } /* '' */
.icon-calendar-4:before { content: '\eaf8'; } /* '' */
.icon-calendar-circled:before { content: '\eaf9'; } /* '' */
.icon-mic-2:before { content: '\eafa'; } /* '' */
.icon-mic-circled:before { content: '\eafb'; } /* '' */
.icon-volume-off-2:before { content: '\eafc'; } /* '' */
.icon-volume-down-1:before { content: '\eafd'; } /* '' */
.icon-volume:before { content: '\eafe'; } /* '' */
.icon-volume-up-2:before { content: '\eaff'; } /* '' */
.icon-headphones-1:before { content: '\eb00'; } /* '' */
.icon-clock-3:before { content: '\eb01'; } /* '' */
.icon-clock-circled:before { content: '\eb02'; } /* '' */
.icon-lightbulb:before { content: '\eb03'; } /* '' */
.icon-lightbulb-alt:before { content: '\eb04'; } /* '' */
.icon-block-1:before { content: '\eb05'; } /* '' */
.icon-resize-full-2:before { content: '\eb06'; } /* '' */
.icon-resize-full-alt-1:before { content: '\eb07'; } /* '' */
.icon-resize-small-2:before { content: '\eb08'; } /* '' */
.icon-resize-vertical-1:before { content: '\eb09'; } /* '' */
.icon-resize-horizontal-1:before { content: '\eb0a'; } /* '' */
.icon-move-1:before { content: '\eb0b'; } /* '' */
.icon-zoom-in-2:before { content: '\eb0c'; } /* '' */
.icon-zoom-out-2:before { content: '\eb0d'; } /* '' */
.icon-down-open-1:before { content: '\eb0e'; } /* '' */
.icon-left-open-1:before { content: '\eb0f'; } /* '' */
.icon-right-open-1:before { content: '\eb10'; } /* '' */
.icon-up-open-1:before { content: '\eb11'; } /* '' */
.icon-down-3:before { content: '\eb12'; } /* '' */
.icon-left-2:before { content: '\eb13'; } /* '' */
.icon-right-2:before { content: '\eb14'; } /* '' */
.icon-up-3:before { content: '\eb15'; } /* '' */
.icon-down-circled:before { content: '\eb16'; } /* '' */
.icon-left-circled:before { content: '\eb17'; } /* '' */
.icon-right-circled:before { content: '\eb18'; } /* '' */
.icon-up-circled:before { content: '\eb19'; } /* '' */
.icon-down-hand:before { content: '\eb1a'; } /* '' */
.icon-left-hand:before { content: '\eb1b'; } /* '' */
.icon-right-hand:before { content: '\eb1c'; } /* '' */
.icon-up-hand:before { content: '\eb1d'; } /* '' */
.icon-cw-2:before { content: '\eb1e'; } /* '' */
.icon-cw-circled:before { content: '\eb1f'; } /* '' */
.icon-arrows-cw:before { content: '\eb20'; } /* '' */
.icon-shuffle-1:before { content: '\eb21'; } /* '' */
.icon-play-2:before { content: '\eb22'; } /* '' */
.icon-play-circled:before { content: '\eb23'; } /* '' */
.icon-play-circled2:before { content: '\eb24'; } /* '' */
.icon-stop-3:before { content: '\eb25'; } /* '' */
.icon-stop-circled:before { content: '\eb26'; } /* '' */
.icon-pause-2:before { content: '\eb27'; } /* '' */
.icon-pause-circled:before { content: '\eb28'; } /* '' */
.icon-record:before { content: '\eb29'; } /* '' */
.icon-eject-1:before { content: '\eb2a'; } /* '' */
.icon-backward:before { content: '\eb2b'; } /* '' */
.icon-backward-circled:before { content: '\eb2c'; } /* '' */
.icon-fast-backward-1:before { content: '\eb2d'; } /* '' */
.icon-fast-forward-1:before { content: '\eb2e'; } /* '' */
.icon-forward:before { content: '\eb2f'; } /* '' */
.icon-forward-circled:before { content: '\eb30'; } /* '' */
.icon-step-backward:before { content: '\eb31'; } /* '' */
.icon-step-forward:before { content: '\eb32'; } /* '' */
.icon-target-1:before { content: '\eb33'; } /* '' */
.icon-signal-2:before { content: '\eb34'; } /* '' */
.icon-desktop:before { content: '\eb35'; } /* '' */
.icon-desktop-circled:before { content: '\eb36'; } /* '' */
.icon-laptop:before { content: '\eb37'; } /* '' */
.icon-laptop-circled:before { content: '\eb38'; } /* '' */
.icon-network:before { content: '\eb39'; } /* '' */
.icon-inbox-1:before { content: '\eb3a'; } /* '' */
.icon-inbox-circled:before { content: '\eb3b'; } /* '' */
.icon-inbox-alt:before { content: '\eb3c'; } /* '' */
.icon-globe-2:before { content: '\eb3d'; } /* '' */
.icon-globe-alt:before { content: '\eb3e'; } /* '' */
.icon-cloud-3:before { content: '\eb3f'; } /* '' */
.icon-cloud-circled:before { content: '\eb40'; } /* '' */
.icon-flight:before { content: '\eb41'; } /* '' */
.icon-leaf:before { content: '\eb42'; } /* '' */
.icon-font:before { content: '\eb43'; } /* '' */
.icon-fontsize-1:before { content: '\eb44'; } /* '' */
.icon-bold:before { content: '\eb45'; } /* '' */
.icon-italic:before { content: '\eb46'; } /* '' */
.icon-text-height:before { content: '\eb47'; } /* '' */
.icon-text-width:before { content: '\eb48'; } /* '' */
.icon-align-left:before { content: '\eb49'; } /* '' */
.icon-align-center:before { content: '\eb4a'; } /* '' */
.icon-align-right:before { content: '\eb4b'; } /* '' */
.icon-align-justify:before { content: '\eb4c'; } /* '' */
.icon-list-1:before { content: '\eb4d'; } /* '' */
.icon-indent-left:before { content: '\eb4e'; } /* '' */
.icon-indent-right:before { content: '\eb4f'; } /* '' */
.icon-briefcase:before { content: '\eb50'; } /* '' */
.icon-off:before { content: '\eb51'; } /* '' */
.icon-road:before { content: '\eb52'; } /* '' */
.icon-qrcode:before { content: '\eb53'; } /* '' */
.icon-barcode:before { content: '\eb54'; } /* '' */
.icon-braille:before { content: '\eb55'; } /* '' */
.icon-book-2:before { content: '\eb56'; } /* '' */
.icon-adjust:before { content: '\eb57'; } /* '' */
.icon-tint:before { content: '\eb58'; } /* '' */
.icon-check:before { content: '\eb59'; } /* '' */
.icon-check-empty:before { content: '\eb5a'; } /* '' */
.icon-asterisk:before { content: '\eb5b'; } /* '' */
.icon-gift:before { content: '\eb5c'; } /* '' */
.icon-fire-1:before { content: '\eb5d'; } /* '' */
.icon-magnet:before { content: '\eb5e'; } /* '' */
.icon-chart-1:before { content: '\eb5f'; } /* '' */
.icon-chart-circled:before { content: '\eb60'; } /* '' */
.icon-credit-card-1:before { content: '\eb61'; } /* '' */
.icon-megaphone:before { content: '\eb62'; } /* '' */
.icon-clipboard:before { content: '\eb63'; } /* '' */
.icon-hdd-1:before { content: '\eb64'; } /* '' */
.icon-key-1:before { content: '\eb65'; } /* '' */
.icon-certificate:before { content: '\eb66'; } /* '' */
.icon-tasks:before { content: '\eb67'; } /* '' */
.icon-filter:before { content: '\eb68'; } /* '' */
.icon-gauge:before { content: '\eb69'; } /* '' */
.icon-smiley:before { content: '\eb6a'; } /* '' */
.icon-smiley-circled:before { content: '\eb6b'; } /* '' */
.icon-address-book:before { content: '\eb6c'; } /* '' */
.icon-address-book-alt:before { content: '\eb6d'; } /* '' */
.icon-asl:before { content: '\eb6e'; } /* '' */
.icon-glasses:before { content: '\eb6f'; } /* '' */
.icon-hearing-impaired:before { content: '\eb70'; } /* '' */
.icon-iphone-home:before { content: '\eb71'; } /* '' */
.icon-person:before { content: '\eb72'; } /* '' */
.icon-adult:before { content: '\eb73'; } /* '' */
.icon-child:before { content: '\eb74'; } /* '' */
.icon-blind:before { content: '\eb75'; } /* '' */
.icon-guidedog:before { content: '\eb76'; } /* '' */
.icon-accessibility:before { content: '\eb77'; } /* '' */
.icon-universal-access:before { content: '\eb78'; } /* '' */
.icon-male-1:before { content: '\eb79'; } /* '' */
.icon-female-1:before { content: '\eb7a'; } /* '' */
.icon-behance:before { content: '\eb7b'; } /* '' */
.icon-blogger-2:before { content: '\eb7c'; } /* '' */
.icon-cc-1:before { content: '\eb7d'; } /* '' */
.icon-css:before { content: '\eb7e'; } /* '' */
.icon-delicious-1:before { content: '\eb7f'; } /* '' */
.icon-deviantart-1:before { content: '\eb80'; } /* '' */
.icon-digg-1:before { content: '\eb81'; } /* '' */
.icon-dribbble-2:before { content: '\eb82'; } /* '' */
.icon-facebook-4:before { content: '\eb83'; } /* '' */
.icon-flickr-1:before { content: '\eb84'; } /* '' */
.icon-foursquare-1:before { content: '\eb85'; } /* '' */
.icon-friendfeed-1:before { content: '\eb86'; } /* '' */
.icon-friendfeed-rect-1:before { content: '\eb87'; } /* '' */
.icon-github-3:before { content: '\eb88'; } /* '' */
.icon-github-text-1:before { content: '\eb89'; } /* '' */
.icon-googleplus:before { content: '\eb8a'; } /* '' */
.icon-instagram-3:before { content: '\eb8b'; } /* '' */
.icon-linkedin-3:before { content: '\eb8c'; } /* '' */
.icon-path:before { content: '\eb8d'; } /* '' */
.icon-picasa-1:before { content: '\eb8e'; } /* '' */
.icon-pinterest-1:before { content: '\eb8f'; } /* '' */
.icon-reddit-1:before { content: '\eb90'; } /* '' */
.icon-skype-2:before { content: '\eb91'; } /* '' */
.icon-slideshare:before { content: '\eb92'; } /* '' */
.icon-stackoverflow-1:before { content: '\eb93'; } /* '' */
.icon-stumbleupon-1:before { content: '\eb94'; } /* '' */
.icon-twitter-4:before { content: '\eb95'; } /* '' */
.icon-tumblr-2:before { content: '\eb96'; } /* '' */
.icon-vimeo-2:before { content: '\eb97'; } /* '' */
.icon-vkontakte:before { content: '\eb98'; } /* '' */
.icon-w3c-1:before { content: '\eb99'; } /* '' */
.icon-wordpress-2:before { content: '\eb9a'; } /* '' */
.icon-youtube-2:before { content: '\eb9b'; } /* '' */
.icon-music-1:before { content: '\eb9c'; } /* '' */
.icon-search-4:before { content: '\eb9d'; } /* '' */
.icon-mail-4:before { content: '\eb9e'; } /* '' */
.icon-heart-4:before { content: '\eb9f'; } /* '' */
.icon-star-4:before { content: '\eba0'; } /* '' */
.icon-user-4:before { content: '\eba1'; } /* '' */
.icon-videocam-3:before { content: '\eba2'; } /* '' */
.icon-camera-4:before { content: '\eba3'; } /* '' */
.icon-photo-1:before { content: '\eba4'; } /* '' */
.icon-attach-3:before { content: '\eba5'; } /* '' */
.icon-lock-4:before { content: '\eba6'; } /* '' */
.icon-eye-4:before { content: '\eba7'; } /* '' */
.icon-tag-3:before { content: '\eba8'; } /* '' */
.icon-thumbs-up-2:before { content: '\eba9'; } /* '' */
.icon-pencil-4:before { content: '\ebaa'; } /* '' */
.icon-comment-3:before { content: '\ebab'; } /* '' */
.icon-location-4:before { content: '\ebac'; } /* '' */
.icon-cup:before { content: '\ebad'; } /* '' */
.icon-trash-5:before { content: '\ebae'; } /* '' */
.icon-doc-4:before { content: '\ebaf'; } /* '' */
.icon-note:before { content: '\ebb0'; } /* '' */
.icon-cog-3:before { content: '\ebb1'; } /* '' */
.icon-params:before { content: '\ebb2'; } /* '' */
.icon-calendar-5:before { content: '\ebb3'; } /* '' */
.icon-sound:before { content: '\ebb4'; } /* '' */
.icon-clock-4:before { content: '\ebb5'; } /* '' */
.icon-lightbulb-1:before { content: '\ebb6'; } /* '' */
.icon-tv:before { content: '\ebb7'; } /* '' */
.icon-desktop-1:before { content: '\ebb8'; } /* '' */
.icon-mobile-3:before { content: '\ebb9'; } /* '' */
.icon-cd-2:before { content: '\ebba'; } /* '' */
.icon-inbox-2:before { content: '\ebbb'; } /* '' */
.icon-globe-3:before { content: '\ebbc'; } /* '' */
.icon-cloud-4:before { content: '\ebbd'; } /* '' */
.icon-paper-plane-1:before { content: '\ebbe'; } /* '' */
.icon-fire-2:before { content: '\ebbf'; } /* '' */
.icon-graduation-cap:before { content: '\ebc0'; } /* '' */
.icon-megaphone-1:before { content: '\ebc1'; } /* '' */
.icon-database:before { content: '\ebc2'; } /* '' */
.icon-key-2:before { content: '\ebc3'; } /* '' */
.icon-beaker:before { content: '\ebc4'; } /* '' */
.icon-truck:before { content: '\ebc5'; } /* '' */
.icon-money-1:before { content: '\ebc6'; } /* '' */
.icon-food:before { content: '\ebc7'; } /* '' */
.icon-shop-1:before { content: '\ebc8'; } /* '' */
.icon-diamond:before { content: '\ebc9'; } /* '' */
.icon-t-shirt:before { content: '\ebca'; } /* '' */
.icon-wallet:before { content: '\ebcb'; } /* '' */
.icon-search-5:before { content: '\ebcc'; } /* '' */
.icon-mail-5:before { content: '\ebcd'; } /* '' */
.icon-heart-5:before { content: '\ebce'; } /* '' */
.icon-heart-empty-2:before { content: '\ebcf'; } /* '' */
.icon-star-5:before { content: '\ebd0'; } /* '' */
.icon-user-5:before { content: '\ebd1'; } /* '' */
.icon-video-2:before { content: '\ebd2'; } /* '' */
.icon-picture-2:before { content: '\ebd3'; } /* '' */
.icon-th-large-1:before { content: '\ebd4'; } /* '' */
.icon-th-2:before { content: '\ebd5'; } /* '' */
.icon-th-list-3:before { content: '\ebd6'; } /* '' */
.icon-ok-4:before { content: '\ebd7'; } /* '' */
.icon-ok-circle-1:before { content: '\ebd8'; } /* '' */
.icon-cancel-4:before { content: '\ebd9'; } /* '' */
.icon-cancel-circle-2:before { content: '\ebda'; } /* '' */
.icon-plus-circle-1:before { content: '\ebdb'; } /* '' */
.icon-minus-circle-1:before { content: '\ebdc'; } /* '' */
.icon-link-2:before { content: '\ebdd'; } /* '' */
.icon-attach-4:before { content: '\ebde'; } /* '' */
.icon-lock-5:before { content: '\ebdf'; } /* '' */
.icon-lock-open-4:before { content: '\ebe0'; } /* '' */
.icon-tag-4:before { content: '\ebe1'; } /* '' */
.icon-reply-1:before { content: '\ebe2'; } /* '' */
.icon-reply-all:before { content: '\ebe3'; } /* '' */
.icon-forward-1:before { content: '\ebe4'; } /* '' */
.icon-code:before { content: '\ebe5'; } /* '' */
.icon-retweet-2:before { content: '\ebe6'; } /* '' */
.icon-comment-4:before { content: '\ebe7'; } /* '' */
.icon-comment-alt-2:before { content: '\ebe8'; } /* '' */
.icon-chat-3:before { content: '\ebe9'; } /* '' */
.icon-attention-2:before { content: '\ebea'; } /* '' */
.icon-location-5:before { content: '\ebeb'; } /* '' */
.icon-doc-5:before { content: '\ebec'; } /* '' */
.icon-docs-landscape:before { content: '\ebed'; } /* '' */
.icon-folder-3:before { content: '\ebee'; } /* '' */
.icon-archive:before { content: '\ebef'; } /* '' */
.icon-rss-4:before { content: '\ebf0'; } /* '' */
.icon-rss-alt-1:before { content: '\ebf1'; } /* '' */
.icon-cog-4:before { content: '\ebf2'; } /* '' */
.icon-logout-1:before { content: '\ebf3'; } /* '' */
.icon-clock-5:before { content: '\ebf4'; } /* '' */
.icon-block-2:before { content: '\ebf5'; } /* '' */
.icon-resize-full-3:before { content: '\ebf6'; } /* '' */
.icon-resize-full-circle:before { content: '\ebf7'; } /* '' */
.icon-popup-2:before { content: '\ebf8'; } /* '' */
.icon-left-open-2:before { content: '\ebf9'; } /* '' */
.icon-right-open-2:before { content: '\ebfa'; } /* '' */
.icon-down-circle-1:before { content: '\ebfb'; } /* '' */
.icon-left-circle-1:before { content: '\ebfc'; } /* '' */
.icon-right-circle-1:before { content: '\ebfd'; } /* '' */
.icon-up-circle-1:before { content: '\ebfe'; } /* '' */
.icon-down-dir-1:before { content: '\ebff'; } /* '' */
.icon-right-dir-1:before { content: '\ec00'; } /* '' */
.icon-down-micro:before { content: '\ec01'; } /* '' */
.icon-up-micro:before { content: '\ec02'; } /* '' */
.icon-cw-circle:before { content: '\ec03'; } /* '' */
.icon-arrows-cw-1:before { content: '\ec04'; } /* '' */
.icon-updown-circle:before { content: '\ec05'; } /* '' */
.icon-target-2:before { content: '\ec06'; } /* '' */
.icon-signal-3:before { content: '\ec07'; } /* '' */
.icon-progress-0:before { content: '\ec08'; } /* '' */
.icon-progress-1:before { content: '\ec09'; } /* '' */
.icon-progress-2:before { content: '\ec0a'; } /* '' */
.icon-progress-3:before { content: '\ec0b'; } /* '' */
.icon-progress-4:before { content: '\ec0c'; } /* '' */
.icon-progress-5:before { content: '\ec0d'; } /* '' */
.icon-progress-6:before { content: '\ec0e'; } /* '' */
.icon-progress-7:before { content: '\ec0f'; } /* '' */
.icon-font-1:before { content: '\ec10'; } /* '' */
.icon-list-2:before { content: '\ec11'; } /* '' */
.icon-list-numbered:before { content: '\ec12'; } /* '' */
.icon-indent-left-1:before { content: '\ec13'; } /* '' */
.icon-indent-right-1:before { content: '\ec14'; } /* '' */
.icon-cloud-5:before { content: '\ec15'; } /* '' */
.icon-terminal:before { content: '\ec16'; } /* '' */
.icon-facebook-rect-2:before { content: '\ec17'; } /* '' */
.icon-twitter-bird-2:before { content: '\ec18'; } /* '' */
.icon-vimeo-rect-1:before { content: '\ec19'; } /* '' */
.icon-tumblr-rect-1:before { content: '\ec1a'; } /* '' */
.icon-googleplus-rect-1:before { content: '\ec1b'; } /* '' */
.icon-linkedin-rect-1:before { content: '\ec1c'; } /* '' */
.icon-skype-3:before { content: '\ec1d'; } /* '' */
.icon-vkontakte-rect-1:before { content: '\ec1e'; } /* '' */
.icon-youtube-3:before { content: '\ec1f'; } /* '' */
.icon-odnoklassniki-rect-1:before { content: '\ec20'; } /* '' */